@import './circe.css';
/* card nomera - #f8f1e1 */
:root {
	--font-circe: 'Circe';
	--red: #b61e28;
	--deep-red: #9a1625;
	--light-red: #ff0000;
	--radius: 0.625rem;
	--background: #2b1714;
	--background-white: #fffbef;
	--booking: #2f2320;
	--icons: #5b3228;
	/* text */
	--foreground: #ffffff;
	--foreground-sec: #271c1d;
	--muted: #a38d7f;
	--muted-sec: #69594f;
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.21 0.006 285.885);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.015 286.067);
}
@theme inline {
	--color-background: var(--background);
	--color-background-white: var(--background-white);
	--color-foreground: var(--foreground);
	--color-booking: var(--booking);
	--font-sans: var(--font-circe);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-foreground-sec: var(--foreground-sec);
	--color-muted-sec: var(--muted-sec);
	--color-icons: var(--icons);
	--color-red: var(--red);
	--color-light-red: var(--light-red);
	--color-deep-red: var(--deep-red);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}
